.elements__button-like {
  width: 22px;
  height: 19px;
  border: 0;
  background: no-repeat center url(../../../images/like.svg);
  padding: 0;
  cursor: pointer;
  margin: 30px 20px 30px 0;
  transition: opacity 1s linear;
  outline: none;
  }

.elements__button-like:hover {
  opacity: .5;
  }
