.profile__avatar {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  }

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin-right: 0;
    }
  }

@media screen and (max-width: 880px) {
  .profile__avatar {
    margin-left: 25px;
    }
  }
